# Dependencies
node_modules

# Build output
dist

# Env / secrets
.env
.env.*
!.env.example

# OS
.DS_Store
*.local

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
firestore-debug.log
ui-debug.log
.runtimeconfig.json
.firebaserc
firebase.json
scripts/

.claude